<div class="menus_container">
  <div class="menu__bar">
    <a href="http://">Main page</a>
    <a href="http://">Games</a>
    <a href="http://">Interviews</a>
    <a href="http://">International</a>
  </div>
  <div class="search__bar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="17" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <input class="input" placeholder="Search" required="" type="text">
  </div>
</div>

